/* Estilo geral do header */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #F5F5F5; /* Fundo escuro */
  padding: 10px 30px;
  border-bottom: 4px solid #FFD700; /* Linha amarela */
}

/* Logo */
.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  height: 60px;
}

/* Links de navegação */
.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: #333333 ;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
}

.nav-links a:hover {
  color: #FFD700; /* Amarelo para hover */
}

.fa-instagram {
  font-size: 22px;
}
