<section class="sobre-empresa d-flex align-items-center text-white">
    <div class="container text-center">
      <h1 class="display-4">Quem Somos</h1>
      <p class="lead mt-3">
        A JJ Licitações é uma nova empresa no mercado de licitações, focada em oferecer soluções práticas e eficazes para seus clientes. Especializamo-nos em Análise de Editais, Processo de Pregão (presencial e eletrônico) e Análise de Documentação. Nossa missão é simplificar e descomplicar o processo licitatório, garantindo que nossos clientes estejam sempre preparados e em conformidade com as exigências legais. Com uma equipe experiente e dedicada, estamos prontos para transformar desafios em oportunidades e ajudá-lo a alcançar o sucesso nas suas iniciativas licitatórias. Conheça a JJ Licitações e conte conosco para suas necessidades licitatórias!
      </p>
    </div>
  </section>
  